blinker==1.4
certifi==2018.1.18
click==6.7
Flask==0.12.2
Flask-Cors==3.0.3
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
passlib==1.7.1
six==1.11.0
SQLAlchemy==1.2.2
urllib3==1.22
Werkzeug==0.14.1