@import url("https://fonts.googleapis.com/css?family=Mukta+Mahee");
/* xsmall:  (max-width: 479px),
small:      (max-width: 599px),
medium:     (max-width: 767px),
large:      (max-width: 1024px),
largeOnly:  (min-width: 768px) and (max-width: 1024px),
xxl:        (min-width: 1200px),
tall:       (min-height: 780px), */
* {
  font-family: 'Mukta Mahee', 'sans-serif'; }

#app {
  padding-bottom: 6rem; }

h1, h2, h3, h4, h5, h6, p, div, textarea {
  word-wrap: break-word; }

h1 {
  margin: 0.3em 0.5em 0.3em 0.5em; }

/* HEADER */
.header {
  margin: 0 0 25px;
  background: #ecf0f1;
  box-shadow: 0 2px 12px 1px rgba(127, 140, 141, 0.6);
  display: flex;
  justify-content: space-between; }

.header h1 {
  font-size: 3rem;
  color: #E27A3F;
  font-weight: 600; }

.header h1 small {
  color: #E27A3F; }

.logoutBtn {
  color: #ffffff;
  cursor: pointer; }

.logoutBtn:hover {
  color: #8ae6ff;
  text-decoration: none; }

.para {
  margin-top: 1.5rem; }

/* END HEADER */
.jumbotron {
  background-color: #ecf0f1; }

.search {
  position: relative;
  float: right;
  width: 20rem;
  transition: all 10s; }
  .search:focus {
    outline: none; }

#searchButton {
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  padding-left: 5px;
  text-align: left; }

/* FOOTER */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #ecf0f1;
  text-align: center; }

/* END FOOTER */
/* BUTTON */
.reg-btn {
  border: 2px solid #95a5a6;
  height: 3rem;
  font-size: 1.5rem;
  color: #95a5a6;
  background-color: #ecf0f1;
  width: 100px;
  cursor: pointer;
  border-radius: 100px;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  margin-left: 5px; }

.reg-btn:hover {
  border: 2px solid #95a5a6;
  color: #E27A3F;
  background-color: #ecf0f1;
  width: 100px;
  cursor: pointer;
  border-radius: 100px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 5px; }

.reg-btn:focus {
  outline: none; }

.reg-btn-color {
  border: 2px solid #DF5A49;
  font-size: 1.5rem;
  margin-left: auto;
  color: #fff;
  background-color: #E27A3F;
  width: 100px;
  cursor: pointer;
  border-radius: 100px;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none; }

.reg-btn-color:hover {
  border: 2px solid #DF5A49;
  margin-left: auto;
  color: #fff;
  background-color: #DF5A49;
  width: 100px;
  cursor: pointer;
  border-radius: 100px;
  padding-right: 10px;
  padding-left: 10px; }

.reg-btn-color:focus {
  outline: none; }

/* END BUTTON */
.box-login {
  border: 0.1em solid #c7d0d2;
  border-radius: 0.2em;
  box-shadow: inset 0 1px 3px rgba(190, 190, 190, 0.4), 0 0 0 5px #f5f7f8;
  padding: 1em;
  margin-bottom: 7rem; }

.box-login label {
  font-size: 1.5rem; }

.box-login input {
  font-size: 1.5rem !important;
  /* yes I added important, sorry */ }

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center; }

/* REGISTER MODAL */
.picture {
  float: left;
  height: 20rem;
  margin: 2rem; }

.picture img {
  max-height: 100%; }

.Select {
  margin-bottom: 2rem; }

.link {
  cursor: pointer; }

.modal-content {
  border: 0; }

label {
  font-weight: 300; }

.custom-modal {
  background-color: #ecf0f1;
  width: 50%; }

.modal-body {
  background-color: #ecf0f1;
  color: black; }

.modal-footer {
  background-color: #E27A3F;
  border: 0; }

.alert-warning {
  border-color: #c03d3d;
  color: black;
  background: #eee none; }

/* END REGISTER MODAL */
/* IDK */
@media only screen and (max-width: 70em) {
  .picture {
    margin-left: 0; }
  .menu {
    padding-bottom: 15px; }
  .custom-modal {
    width: 90%;
    margin: 1rem auto 1rem auto; } }

#welcome {
  animation-duration: 1s;
  animation-iteration-count: 1; }

/* ASK-BOX */
.ask-box {
  width: 100%; }

.main {
  border: 0.1em solid #c7d0d2;
  border-radius: 0.2em;
  box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, 0.4), 0 0 0 5px #f5f7f8;
  padding: 1em;
  margin-bottom: 2rem; }

.main2 {
  border: 0.1em solid #c7d0d2;
  border-radius: 0.2em;
  padding: 1em;
  margin-bottom: 2rem; }

textarea {
  border-radius: 0.2em; }

.ask-box .title {
  border: none; }

.ask-box .text {
  resize: none;
  outline: none;
  overflow: auto;
  border: none; }

.ask-box-footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

@media only screen and (max-width: 70em) {
  .ask-box-footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; } }

@media only screen and (min-width: 70em) {
  #ask-box-button {
    height: 50%;
    margin-left: auto;
    float: right;
    color: #fff;
    background-color: #3498db;
    width: 100px;
    color: white;
    text-align: center;
    border-radius: 100px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px; } }

.ask-box.type.selected {
  border: 2px solid #E27A3F;
  text-decoration: none;
  color: #fff;
  background-color: #E27A3F;
  border-color: #DF5A49; }

.ask-box.type.selected:hover {
  border: 2px solid #E27A3F;
  text-decoration: none;
  color: #fff;
  background-color: #E27A3F;
  border-color: #DF5A49; }

.ask-box.type {
  width: 100px;
  color: #95a5a6;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  border: 2px solid #95a5a6;
  border-radius: 100px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px; }

.ask-box.type:hover {
  color: #E27A3F;
  border: 2px solid #E27A3F;
  text-decoration: none;
  cursor: pointer; }

#ask-box-button {
  width: 15rem;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 100px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #E27A3F;
  /* padding-left: 55px; */
  /* padding-right: 55px; */ }
  #ask-box-button:hover {
    background-color: #DF5A49; }

/* END ASK-BOX */
/* avatar */
.avatarChange {
  text-align: center;
  color: #ecf0f1; }

.avatarChange img {
  margin: 1rem;
  cursor: pointer; }

.avatarChange img:hover {
  transition: ease 1s opacity;
  opacity: 0.8; }

/* END avatar */
/* question box */
.question-box {
  border-bottom: 1px rgba(149, 165, 166, 0.65) solid;
  width: 100%;
  padding: 3px; }

.question-box .square {
  border: 1px dotted #95a5a6;
  float: left;
  width: 40px;
  height: 40px;
  margin: 10px;
  cursor: pointer; }

.question-box h1 {
  margin-top: 10px;
  margin-left: 0px;
  font-size: 2rem; }

.question-box p {
  font-size: 1.2rem; }

.question-tag {
  float: left;
  background-color: #E27A3F;
  color: white;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.4rem; }

.question-time {
  float: left;
  margin-left: 10px;
  font-size: 1.3rem;
  padding-top: 10px;
  padding-bottom: 10px; }

/* END question box */
/* answer-page */
.question-box-text {
  margin: auto auto 2rem auto; }

.question-tags {
  margin: 0.4em;
  background-color: #ecf0f1;
  padding: 0 0.8em 0 0.8em;
  border: 1px solid #E27A3F;
  border-radius: 100px; }

.question-tags-answer {
  margin-left: 10px; }

.answer-page h1 {
  font-size: 3rem;
  margin: 10px; }

.answer-page p {
  margin: 10px;
  font-size: 2rem; }

.answer-box {
  border: 0.1em solid #c7d0d2;
  border-radius: 0.2em;
  box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, 0.4), 0 0 0 5px #f5f7f8;
  padding: 1em;
  margin: 2rem; }

.question-tag-answer {
  float: left;
  background-color: #E27A3F;
  color: white;
  padding: 2px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
  margin-left: 2rem;
  font-size: 1.4rem; }

.modal-title {
  color: #E27A3F; }

.panel-primary {
  border-color: #DF5A49; }

.panel-primary > .panel-heading {
  background-color: #E27A3F;
  border-color: #DF5A49; }

#dropdown-no-caret {
  background-color: #ecf0f1;
  border-color: #ecf0f1; }

/*===============================
START SEARCH
=================================*/
/*==========================================
END SEARCH
============================================*/
/*==========================================
profile card edit
=========================================*/
#box-edit-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

#box-edit-links a {
  text-decoration: none;
  cursor: pointer; }

.input-edit {
  width: 50%;
  height: 30px;
  resize: none; }

.change-fname {
  color: #E27A3F;
  border-color: #DF5A49; }

.profile-badges {
  color: black; }
  .profile-badges :hover {
    color: #DF5A49; }

#box-edit-links {
  margin-top: 5px;
  margin-bottom: 5px; }

/***

OVERIDE

***/
.header h1 {
  font-size: 3rem;
  color: #E27A3F;
  font-weight: 600;
  margin: auto;
  margin-left: 1em;
  text-align: left;
  float: left;
  display: block; }

.question-tag-answer {
  float: left;
  background-color: #E27A3F;
  color: white;
  padding: 2px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
  margin-left: 0; }

.answer-box {
  margin: 0; }

.answer-page {
  padding: 2em; }

.question-box-text {
  margin-right: -15px;
  margin-left: -15px; }

.question-tags-answer {
  display: block;
  margin-left: 0;
  margin-top: 1em;
  padding: 0; }

span.question-tags {
  display: inline-block;
  margin-left: 0;
  margin-right: 1em; }

#body {
  margin: auto 2em auto 2em; }
