@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,800');

*{
  font-family: 'Raleway', 'sans-serif';
}

.header {
    border-bottom: 0.1em solid;
    margin:0px;

  /* Safari 4-5, Chrome 1-9 */
  background: #4267b2;

}
.header {
  /* Safari 5.1, Chrome 10+ */
  background: 	#00647f;
}

.header h1{
    font-size:5rem;
    color: #ffffff;
    font-weight: 600;
}
.header h1 small{
    color:white;
}

h1 {
    margin: 0.3em 0.5em 0.3em 0.5em;
}

.box-login {
    border:0.1em solid black;
    padding: 1em;
    margin:1em;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

.box-login {
    border:0.1em solid black;
    padding: 1em;
    margin:1em;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

/* REGISTER MODAL */
.picture {  
    float: left;
    height:30rem;
    margin: 2rem;
}

.link{
    cursor:pointer;
}


.modal-content {
    border: 0;
}

.menu{ 
    float: left;
    width: 100%;  
}

label{
    font-weight: 300;
}

.custom-modal{
    background-color:lightgray;
    width:50%;
}

.modal-body{
    background-color : rgb(223, 223, 223)
}
.modal-footer{
    background-color: 	#00647f;
    border: 0;
}




@media only screen and (max-width:70em) {
    
    .picture {
        margin-left: 0;
    }

    .menu{
        padding-bottom: 15px;
    }

    .custom-modal {
        width: 90%;
        margin: 1rem auto 1rem auto;
    }

}